@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400;500;600;700;800;900&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}


body{
    background-color: #3b4664;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container{
    /* border: 1px solid wheat; */
    width : 40vw;
    height : fit-content;
    padding : 20px;
}

.disp,.keypad{
    width: 100%;
    background-color: #181f32;
    height : 100px;
    margin-top: 10px ;

    
}

.disp {
    padding : 20px;
    display: flex;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
}

.keypad{
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;
    height: fit-content;
}


.key{
    background-color: #eae3db;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 5px solid #b4a398;
    
}

.key:hover{
    background-color: #b4a398;
}

#reset{
    grid-column: 1/3;
    background-color: #a2b3e1;
    border-bottom: 5px solid #47547e;
}

#del{
    background-color: #a2b3e1;
    border-bottom: 5px solid #47547e;
}

#equal{
    grid-column: 3/5;
    background-color: #fa6b5b;
    border-bottom: 5px solid #822a25;
}

/* responsiveness*/

@media screen and (max-width: 1000px){
    .container{
        width: 80vw;
    }
}